<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ve.com.abicelis.chefbuddy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".app.ChefBuddyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--ACTIVITIES-->
        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.recipeDetail.RecipeDetailActivity"/>
        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name=".ui.addEditRecipe.AddEditRecipeActivity"/>
        <activity android:name=".ui.test.TestActivity"/>
        <activity android:name=".ui.imageGallery.ImageGalleryActivity"/>
        <activity android:name=".ui.editImageActivity.EditImageActivity"/>
        <activity android:name=".ui.searchOnlineRecipe.SearchOnlineRecipeActivity"/>
        <activity android:name=".ui.about.AboutActivity"/>
        <activity android:name=".ui.settings.SettingsActivity" android:theme="@style/AppPreferenceTheme"/>
        <activity android:name=".ui.backup.BackupActivity"/>

        <!--FILE PROVIDER FOR CAMERA-->
        <provider
            android:authorities="ve.com.abicelis.chefbuddy.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--SERVICES-->
        <service android:name=".service.BackupService"/>


        <!--BROADCAST RECEIVERS-->
        <receiver android:name=".service.BackupServiceStarter"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="ve.com.abicelis.chefbuddy.APP_STARTED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>